docRoot                         $VH_ROOT/public_html
vhDomain                        $VH_NAME
__VH_ALIASES_LINE__adminEmails                     admin@__DOMAIN__

enableGzip                      1
enableIpGeo                     0
enableBr                        1

gzipCompressLevel               4
gzipMinFileSize                  300
gzipMaxFileSize                  5242880

errorlog $VH_ROOT/logs/error.log {
  useServer                     0
  logLevel                      ERROR
  rollingSize                   5M
}

accesslog $VH_ROOT/logs/access.log {
  useServer                     0
  logFormat                     "%h %>s %b"
  logHeaders                    0
  rollingSize                   2M
  keepDays                      1
  compressArchive               1
}

index {
  useServer                     0
  indexFiles                    index.php, index.html
}

__PHP_CONFIG__

context /cgi-bin/ {
  allowBrowse                   1
  location                      $VH_ROOT/cgi-bin/
  type                          cgi
}

context /fm/ {
  location                      $SERVER_ROOT/Example/filegator/dist/
  allowBrowse                   1
  rewrite {
    enable                      1
  }
  addDefaultCharset             off
}

context /phpmyadmin/ {
  location                      $SERVER_ROOT/Example/phpmyadmin/
  allowBrowse                   1
  rewrite {
    enable                      1
  }
  addDefaultCharset             off
}

context /.well-known/acme-challenge {
  location                      $VH_ROOT/public_html/.well-known/acme-challenge
  allowBrowse                   0
  rewrite {
    enable                      0
  }
  addDefaultCharset             off
}

context / {
  allowBrowse                   1
  addDefaultCharset             off
  extraHeaders                  Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
  extraHeaders                  X-Content-Type-Options "nosniff"
  extraHeaders                  X-Frame-Options "SAMEORIGIN"
  extraHeaders                  Referrer-Policy "strict-origin-when-cross-origin"
  extraHeaders                  Permissions-Policy "geolocation=(), microphone=(), camera=()"
}

rewrite {
  enable                        1
  autoLoadHtaccess              1
}

module cache {
  storagePath                   $VH_ROOT/cachedata/
  checkPrivateCache             1
  checkPublicCache              1
  qsCache                       1
  enableCache                   1
  expireInSeconds               3600
  enablePrivateCache            1
  privateExpireInSeconds        1800
  ls_enabled                    1
}

accessControl {
  allow *
}
